fastapi
mammoth==1.8.0
numpy==2.5.1
opencv-python==5.0.0.93
pandas
Pillow==12.3.0
pydantic
PyMuPDF==1.28.0
python-docx==1.2.0
PyYAML
pytesseract==0.3.13
rank-bm25
rapidfuzz
rapidocr-onnxruntime==1.2.3
sentence-transformers
spacy
uvicorn[standard]
win32_setctime==1.2.0