colorama==0.4.6
loguru==0.7.3
lxml==6.1.1
mammoth==1.8.0
numpy==2.5.1
opencv-python==5.0.0.93
orjson==3.11.9
packaging==26.2
pillow==12.3.0
pymupdf==1.28.0
pypdf==6.14.2
pytesseract==0.3.13
python-docx==1.2.0
tqdm==4.68.4
typing_extensions==4.16.0
win32_setctime==1.2.0
